<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uintah Basin Air Quality</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
</head>

<body data-page-type="index">

<div class="colored-bar"></div>

<div class="header">
    <h1>Air Quality Forecast Outlooks</h1>
    <div class="sidebar_container">
    </div>
</div>

<div id="map-title" style="text-align: center; margin: 10px 0;">
    <a href="/locations" style="text-decoration: none; color: inherit;">
        Current Conditions. Click here for a detailed map.
    </a>
</div>

<div id="map" style="width: 30%; height: 300px; margin: 20px auto"></div>

<div id="latest-post" class="post">
    <div id="outlook-summary">Loading latest outlook...</div>
    <a href="#" id="see-more">See more</a>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script type="module" src="/public/js/forecast_outlooks.js"></script>
<script type="module" src="/public/js/index_map.js"></script>
<script type="module" src="/public/js/loadSidebar.js"></script>
</body>
</html>