<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Locations - Uintah Basin Air Quality</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="stylesheet" href="/public/css/map.css">
</head>
<body>
<div id="map"></div>

<div class="top-bar"></div>

<div class="logo">
  <img src="/public/images/images-removebg-preview.png" alt="Logo">
</div>

<div class="overlay-container">
  <h2>Study Area</h2>
  <img src="/public/images/utah.png" id="image-overlay" alt="Study Area" height="250">
  <img src="/public/images/ozone-graphOZONE2.png" id="image-overlay1" alt="Measurement" height="350">
</div>

<div class="sidebar_container">
</div>

<div class="bottom-right-box">
  DISCLAIMER: Real-time data are preliminary and have yet to undergo
  quality control. Some data are obtained in cooperation with other
  agencies, including the Ute Indian Trove and the Utah Department of
  Environmental Quality. ©2024, Utah State University.
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script type="module" src="/public/js/map.js"></script>
<script type="module" src="/public/js/loadSidebar.js"></script>
</body>
</html>